  /* Fondo y cuerpo */
body {
   background: url("https://wallpapers.com/images/hd/stock-market-background-wdb83di320cjbktg.jpg") 
              center / cover no-repeat fixed;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Tahoma, sans-serif;
  margin: 0;
}

/* Contenedor  que agrupa logo y formulario */
.container {
    display: flex;
    flex-direction: column; /* pone logo arriba y formulario debajo */
    align-items: center;    /* centra horizontalmente */
}

/* Logo */
#logo {
    height: 90px;
    margin-bottom: 20px;
    box-shadow: 1px 6px 60px 6px whitesmoke;
    transition: transform 0.5s;
}
#logo:hover{
    transform: scale(1.1);
}
#form{
    height: auto;
    width: 100%; 
    display: block; 
    background-position: center;  
    margin: auto;  
    background-color:#E3D8DE  ; 
    background-size: 50%;
    border-radius:22px; 
    padding: auto;
    box-shadow: 10px 10px 25px lightblue;
}

h1{
    text-align: center;
    background-color: lightblue;
    padding: 10px ; /* solo vertical */
    margin: 0px 0 20px; /* se “escapa” del padding lateral del formulario */
    border-radius: 22px 2px;
    
    box-sizing: border-box;
}

.campo {
    display: flex;
    flex-direction: column;
    margin: 0px 10px;
}

.campo label {
    font-weight: bold;
 
}
.campo input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}
.campo input:hover{
    background-color: lightblue;
}

/* Filas para campos dobles */
.fila {
    display: flex;
    gap: 15px;
}

.fila .campo {
    flex: 1;
}

button {
    display: block;
    width: 80%;
    margin: 20px auto 0;
    padding: 8px;
    background-color: lightblue;
    color: black;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #536895;
}

/* Registro link */
#registro {
    text-align: center;
    margin-top: 10px;
   padding: 6px;
}

#registro a {
    color: #536895;
    text-decoration: none;
    font-weight: bold;
}
#registro a:hover {
    text-decoration: underline;
}

  /* ===== Validation Messages ===== */
    #responseMsgSignUp {
      margin-top: 1em;
      padding: 0.5em;
      display: none;
    }

    #responseMsgSignUp.success {
      color: green;
      background-color: #e0ffe0;
      border: 1px solid green;
    }

    #responseMsgSignUp.error {
      
      background-color: red;
      border: 1px solid darkred;
    }

    /* ===== Input Field with Icon ===== */
    .campo {
      position: relative;
      margin-bottom: 1em;
    }

    .campo input[type="password"] {
      width: 100%;
      padding: 10px 35px 10px 10px;
      box-sizing: border-box;
    }


    /* ===== Eye Icon ===== */
    .toggle-password {
      position: absolute;
      right: 10px;
      bottom: 20%;
      border: none;
      background: transparent;
      width: 20px;
      height: 20px;
      padding: 0;
      opacity: 0.7;
      cursor: pointer;
    }

    .toggle-password img {
      width: 100%;
      height: 100%;
    }

    .toggle-password:hover {
      opacity: 1;
    }
    
    
    
        body {
            /*border: 1px solid red;*/          /*height: 100% -> Mide respecto al contenedor padre*/
            height: 99.8vh;                   /*height: 100vh -> Mide respecto al viewport (pantalla)*/           
            margin: 0;

            display: flex;
            justify-content: center;
            align-items: center;                       

            background-image: url("https://wallpapers.com/images/hd/stock-market-background-wdb83di320cjbktg.jpg");
        }

        .contenedor{
            height: 425px;
            width: 1050px;
            border: 7.5px double white;
            border-radius: 30px;
            background-color: #E3D8DE;

            display: flex;
            flex-direction: row;
            justify-content: center;
            /*align-items: stretch;*/
            gap: 0px; 

        }
        .panel{
            /*border: 1px solid red;*/
            border-radius: 30px;
            padding: 1em;
            flex: 1;

            min-width: 0;               /*Evita que el contenido fuerce el estiramiento del bloque*/
            overflow-wrap: break-word;  /*Permite cortar palabras largas*/

            display: flex;
            flex-direction: column;
            gap: 20px;
            
        }

        .formulario{
            flex: 1;
            /*border: 1px solid #5cd710;*/

            display: flex;
            flex-direction: column;
            gap: 20px;
        }


        .informacion{
            flex: 4;
            border: 1px solid #ffffff33;
            border-radius: 20px;
            background: #8a8a8bab;
            color: white;

            display: flex;
            flex-direction: column;
            
            font-family: Tahoma;

            box-shadow: 0 0 20px #8a8a8bab;
            transition: transform 0.3s, box-shadow 0.3s;
        }
        .informacion:hover{
            transform: translateY(-5px);
            box-shadow: 0 0 50px lightblue;
        }
        .informacion h1{
            /*border: 1px solid blueviolet;*/
            letter-spacing: 1px;
            margin: 10px 0;
            color: black;
            background-color: lightblue;
            padding: 0px 30px;
        }
        .informacion p{
            /*border: 1px solid blueviolet;*/
            font-size: 15px;
            color: white;
            padding: 0px 30px;
        }
        .informacion img{
            width: 100px; 
            height: 100px;
            border-radius: 0px;
            object-fit: cover;
            box-shadow: 0 0 70px white;
            transition: transform 0.5s;
        }
        .informacion img:hover{
            transform: scale(1.1);
        }


        /*.guardarfieldset{
            height: 175px;
            border: 1px solid orange;
            display: flex;
        }
        .marco{
            flex: 1;
            border: 1px solid whitesmoke;
            border-radius: 30px;
            
            display: flex;
            flex-direction: column;
            justify-content: center;
        }*/
        .guardarfieldset{
            height: 175px;
            /*border: 1px solid orange;*/
            
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .marco{
            height: 100%;
            border: 1px solid white;
            border-radius: 30px;
            
            display: flex;
            flex-direction: column;
            justify-content: center;
        }


        /*.datos{
            border: 1px solid yellow;
        }*/
        .inputTexto{
            height: 50px;
            width: 100%;
            box-sizing: border-box;

            border: 2px solid #ccc;
            border-radius: 30px;
            background-color: white;          
            color: #222;                        
            
            padding: 0px 15px;
            font-size: 16px;
            font-family: 'Segoe UI', sans-serif;

            transition: border-color 0.5s, box-shadow 0.5s;
        }
        .inputTexto:hover{
            border-color: #999;
            background-color: lightblue;
            box-shadow: 0 0 20px lightblue;
        }
        .inputTexto:focus{
            border-color: lightblue;                  
            outline: none;                            /* Elimina el borde azul del navegador */
            box-shadow: 0 0 20px #00bfffe3;         
        }
        .inputTexto::placeholder{
            color: #888;
            font-style: italic;
        }

        .verContrasenya{
            /*border: 1px solid blue;*/
            margin: 5px 0px;
            padding: 0 10px;
        }


        .botones{
            /*border: 1px solid aqua;*/
            padding: 0 15px;
            flex: 1;

            display: flex;
            /*justify-content: space-evenly;*/
            justify-content: space-between; 
            align-items: center;           
            gap: 20px;                      
        }
        .boton{
            border: 1px solid lightblue;
            border-radius: 10px;
            background-color: lightblue;      
            color: #403d3d;

            padding: 10px 25px;
            font-size: 15px;
            font-weight: bold;
            font-family: 'Segoe UI', sans-serif;
            
            cursor: pointer;
            transition: background-color 0.5s, transform 0.5s, box-shadow 0.5s;
        }
        .boton:hover {
            background-color: #009acd77;      
            transform: scale(1.05);        
            box-shadow: 0 0 30px #00bfffb3;
        }
        .boton:active {
            transform: scale(0.97);         /* Efecto de "click" */
        }


        .ocultar {
            display: none;
        }
        .mostrar {
            display: block;
        }


        input.errorValidacion{
            border: 2px solid #ee0c0c;
        }
        input.errorValidacion:hover{
            border-color: red;
            box-shadow: 0 0 20px red;
        }
        input.errorValidacion:focus{
            border-color: red;
            box-shadow: 0 0 20px red;
        }
        div.textoError{
            /*border: 1px solid red;*/
            display: flex;
            flex-direction: column;
            text-align: start;
            color: red;
            padding: 0px 15px;
        }