 body{
    background-image: url("https://wallpapers.com/images/hd/stock-market-background-wdb83di320cjbktg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
 }     
#logo{
    height: 10vh; 
    display: block; 
    margin: 5vh auto; 
    box-shadow: 1px 6px 60px 6px whitesmoke; 
    cursor: pointer; 
}

#form{
    height: auto;
    width: 70vh; 
    display: block; 
    background-position: center;  
    margin: auto;  
    background-color:#E3D8DE  ; 
    background-size: 50%;
    border-radius:22px; 
    padding-bottom: 25px;
    box-shadow: 10px 10px 25px lightblue;
}
input {
    width: 90%;
    padding: 10px;
    margin: 10px 10px ;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}    
h1{
    text-align: center;
    font-family: Tahoma;
    background-color:lightblue;
    margin: 100px 0px 40px;
    border-radius:22px 2px;
}
button{
    background-color: lightblue;
    height: 40px;
    width: auto;
    border:15px;
    display: block;        
    margin-left: 45vh;       
    margin-top: 20px; 
    font-size:2vh;
    border-radius: 10px;
}
button:hover{
    background-color:#536895;
}

#cAlerta{
    display: none; 
    background-color:red;
    text-align: center;
    font-family: Tahoma;
    padding:5px 2px;
    
    
}

.password-container {
    position: relative;
    display: flex;
    align-items: center;
    width: auto;
    margin: 0 20px;       /* ← espacio a los lados (izquierda y derecha) */
}

.password-container input {
    padding-right: 40px;   /* espacio interno para que no tape el ícono */
}

.password-container img {
    position: absolute;
    right: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    opacity: 0.7;
}

.password-container img:hover {
    opacity: 1;
}