body {
    background: url("https://wallpapers.com/images/hd/stock-market-background-wdb83di320cjbktg.jpg") 
                center / cover no-repeat fixed;
    min-height: 100vh;
    margin: 0;
    font-family: Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px
}

.container {
    background-color: white;
    border-radius: 20px;
    padding: 50px;
    text-align: center;
    box-shadow: 0 0 20px #555;
    max-width: 400px;
    margin-bottom:100px;
}

h1 {
    color: #003366;
    font-size: 28px;
    margin-bottom: 40px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.btn {
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 100%;
}

.btn.register {
    background-color: #00bfff; /* Sky Blue */
    color: white;
}

.btn.register:hover {
    background-color: #0095cc; /* Slightly darker on hover */
}

.btn.login {
    background-color: #0275d8;
    color: white;
}

.btn.login:hover {
    background-color: #025aa5;
}
#logo {
    margin-bottom: 10px;
    height: 90px;
    margin-bottom: 20px;
    box-shadow: 1px 6px 60px 6px whitesmoke;
    transition: transform 0.5s;
}


